.shopping-cart {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  align-content: center;
  width: 1000px;
}
.top-of-cart {
  display: flex;
  justify-content: space-between;
}
.num-items {
  font-size: 25px;
  font-weight: 900;
}
button.keep-shopping {
  background-color: #FFF;
  color: #222;
  font-weight: bold;
  height: 28px;
  padding: 4px 12px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
button.keep-shopping:hover {
    border-color: rgba(0, 0, 0, 0.2);
}
button.keep-shopping:focus {
  outline: none;
}
.main-cart {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 30px;
}
.all-items {
  color: #f45800;
  margin: 20px 0px;
  margin-left: 150px;
  padding-right: 30px;
  border-right: 1px solid lightgray;
}
.cart-item-img {
  width: 130px;
  height: 100px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  object-fit: scale-down;
}
.cart-items:last-child {
  border-bottom: none;
}
.left-side {
  display: flex;
  flex-direction: row;
}
button.remove {
  background: none;
  color: #f45800;
  border: 1px solid #f45800;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 30px;
  width: 80px;
}
button.remove:hover {
  background-color: #FFF3EE;
}
button.remove:focus {
  outline: none;
}
.single-item {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
  width: 550px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}
.single-item:last-child {
  border-bottom: none;
}
.col2 {
  margin-left: 20px;
  margin-right: 14px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}
.col3 {
  margin-top: 5px;
}
.col4 {
  margin-top: 5px;
  margin-left: 60px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.subtotal {
  font-size: 20px;
}
.item-price {
  font-size: 13px;
  font-weight: 100;
  color: gray;
  margin-top: 5px;
}
.all-cart-items {
  margin-left: 10px;
  border-right: 1px solid lightgray;
  margin: 20px 0px;
}
.checkout {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}
.total {
  display: flex;
  justify-content: space-between;
  margin: 45px 6px 25px 5px;
}
button.checkout-button {
  background: #f45800;
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 35px;
  margin-left: 15px;
  margin: 18px 5px 13px 5px;
  font-weight: 600;
}
button.checkout-button:hover {
background-color: #ff6905;
border-color: rgba(0, 0, 0, 0.2);
}
button.checkout-button:focus {
  outline: none;
}
.cart-area {
  background-color: #f5f5f1;
  height: 45vw;
  display: flex;
}
.empty-cart {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 750px;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  border: 1px solid lightgray;
  padding-top: 30px;
  padding-bottom: 60px;
}
.discover {
  color: #E55400;
}
.discover:hover {
  text-decoration: underline;
}
.discover:focus {
  color: #E55400;
}
.empty-text {
  font-size: 25px;
  margin: 20px 0px;
  font-weight: 500;
  font-family: serif;
  line-height: 15px;
}
