/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#root{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.header-logo {
  color: #f45800;
  font-family: serif;
  font-size: 35px;
  text-decoration: none;
  padding-left: 15px;
}

header button {
  background: none;
  color: #f45800;
  border: 1px solid #f45800;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding-bottom: 7px;
  padding-top: 6px;
  padding-left: 5px;
}

.top-register-button {
  border: none;
  background-color: white;
}

.top-register-button:hover {
  background-color: white;
  text-decoration: underline;
}

button:hover {
  background-color: #FFF3EE;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

.header-group {
  display: flex;
  flex-direction: row;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.login-form-box {
  height: 250px;
  width: 350px;
  padding-left: 35px;
  padding-right: 15px;
  background: white;
  position: relative;
  border: 0.5px solid gray;
  border-radius: 3px;
  font-size: 12px;
  color: #444;
}

.session-top {
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
}

.session-top button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #f45800;
  padding-left: 2px;
}

.session-top button:hover{
  background-color: white;
}

.session-submit {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  background-color: #f45800;
  border-color: rgba(0, 0, 0, 0.1);
  width: 200px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  text-align: top;
  border-radius: 3px;
  cursor: pointer;
}

.session-submit:hover {
  background-color: #ff6905;
  border-color: rgba(0, 0, 0, 0.2);
}

.login-input {
  padding-bottom: 6px;
  margin-bottom: 5px;
  width: 194px;
  font-size: 12px;
  color: #333;
}
