/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#root{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

head {
  height: auto;
  width: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logged-out-cart {
  right: -110px;
  position: absolute;
  top: -3px;
}

i.fas.fa-shopping-cart {
  position: absolute;
  right: 70px;
  top: 16px;
  font-size: 18px;
  -webkit-text-fill-color: #666666;
  cursor: pointer;
  border-left: 1px solid lightgray;
  line-height: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
  border-color: #e5e5e5;
}

.fas.fa-shopping-cart:hover {
  -webkit-text-fill-color: black;
}
.cart-text:hover {
  -webkit-text-fill-color: black;
}

.cart-text {
  position: absolute;
  margin-top: -1px;
  right: 67px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.cart-text1 {
  position: absolute;
  margin-top: 47px;
  right: 67px;
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

cart.cart-text {
    position: absolute;
    top: 47px;
}



a.header-logo {
  height: auto;
  text-decoration: none;
}
.logo {
  color: #f45800;
  font-family: "Song Myung", serif;
  font-size: 40px;
  text-decoration: none;
  height: 40px;
  padding-left: 50px;
  margin-top: -27px;
}

.search input {
  position: absolute;
  left: 170px;
  top: 25px;
  width: 370px;
  height: 20px;
  padding: 6px 10px;
  border: 1px solid #CFCBC8;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset;
}

.search input:hover {
  outline: none;
  border: 1px solid #bcb7b3;
}

.search input:active {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: #FFF;
  /*box-shadow: 0 0 0 1000px #fff inset;*/
}

.search input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: #FFF;
  box-shadow: 0 0 0 1000px #fff inset;
}

.search-button {
  position: absolute;
  top: 7px;
  left: 550px;
  color: white;
  background-color: #F56400;
  font-size: 14px;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:  0px;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #ff6905;
  border-color: rgba(0, 0, 0, 0.2);
}

.welcome-user {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: absolute;
  right: 210px;
  top: 15px;
  font-weight: 100;
}

.login-signup {
  position: absolute;
  right: 100px;
  margin-right: 15px;
  padding-bottom: 24px;
}

header button {
  background: none;
  color: #f45800;
  border: 1px solid #f45800;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 35px;
  margin-left: 15px;
  margin: 18px 5px 13px 5px;
}

header button:focus {
  outline: none;
}

.top-register-button {
  border: none;
  margin: 0px;
}


.top-register-button:hover {
  background-color: white;
  text-decoration: underline;
}


a.active {
  color: #f45800;
}

.back-to-products {
  color: #f45800;
  margin: 20px 0px;
  margin-left: 155px;
}

.back:hover {
  background-color: white;
  text-decoration: underline;
}

button:hover {
  background-color: #FFF3EE;
  cursor: pointer;
}


.header-group {
  display: flex;
  flex-direction: row;
  color: #f45800;
}

.header-group i {
  /*margin-top: 20px;*/
}
.header-name {
  margin-right: 10px;
}

.header-group .logout {
  position: absolute;
  top: 3px;
  right: 120px;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.session-errors {
  color: red;
  list-style-type: none;
  margin-left: -40.5px;
}

.login-form-box {
  height: 300px;
  width: 350px;
  padding-left: 35px;
  padding-right: 15px;
  background: white;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 0;
  color: #444;
}

.login-input {
  border: 1px solid #c2c2c2;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 5px;
}
.session-top {
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
}

.session-top button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #f45800;
  padding-left: 2px;
}

.session-top button:hover{
  background-color: white;
  text-decoration: underline;
}

.session-top button:focus{
  outline: none;
}

.session-submit {
  position: absolute;
  top: 230px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  background-color: #f45800;
  border-color: rgba(0, 0, 0, 0.1);
  width: 200px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  text-align: top;
  border-radius: 3px;
  cursor: pointer;
}

.session-submit:hover {
  background-color: #ff6905;
  border-color: rgba(0, 0, 0, 0.2);
}

.session-submit:focus{
  outline: none;
}

.login-input {
  padding-bottom: 6px;
  margin-bottom: 5px;
  width: 194px;
  font-size: 12px;
  color: #333;
}

.category_nav {
  border-top: 1px solid #E1E3DF;
  border-bottom: 1px solid #E1E3DF;
  margin-top: -10px;
}

ul.categories {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
  padding-bottom: 0px;
  margin: 3px 80px;
}

ul.categories li {
  list-style: none;
  padding: 0px 28px;
  padding-bottom: 5px;
  color: #464646;
}

ul.categories li:hover {
    border-bottom: 3px solid #ff6905;
    margin-bottom: -3px;
    cursor: pointer;
}

.slide1{
  height: 320px;
  width: 585px;

}

.product-listings {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 5vw);
  margin-left: 130px;
  margin-top: 15px;
}

.product:hover {
  box-shadow: 0px 0px 5px #ff6905;
  border: 1px solid rgba(255,105,5,0.25);
  transform: scale(1.03);
}

.product {
  width: 180px;
  height: 150px;
  margin: 25px;
  margin-bottom: 70px;
  border: 1px solid lightgray;
  border-radius: 3px;
  color: #464646;
}

.product img {
  width: 100px;
  height: 150px;
  object-fit: contain;
  margin-left: 37px;
}

.product-name {
  color: #464646;
  margin-top: 8px;
}

.product-price {
  font-weight: bold;
  margin-top: 5px;
  color: #464646;

}


.single-product-listing {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 200px;
}

.product-image {
  margin: 50px;
  flex-direction: column;
  width: min-content;
}

.product-image img {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 75px 120px;
        box-shadow: inset -1px -1px 10px rgba(0, 0, 0, 0.075);
}

.description {
  width: 100%;;
  border-top: 1px solid #E1E3DF;
  border-bottom: 1px solid #E1E3DF;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}

.des-text {
  font-weight: bold;
  padding-bottom: 12px;
}

.product-text {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}

.name {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 500;
  font-family: serif;
  line-height: 15px;
}

.price {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

.quantity {
  display: flex;
  flex-direction: column;
}

.quantity-dropdown {
  margin-top: 10px;
  -webkit-appearance: menulist-button;
  border: 1px solid #B1ADAB;
  border-right: 1px solid #CBC9C7;
  border-bottom: 1px solid #CBC9C7;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  height: 22px;
  width: 40px;
}

.quantity-dropdown:focus {
  outline: none;
}

.dropdown:hover {
    border-color: #adaeaa;
}

.dropdown:focus{
  outline: none;
}

.dropdown {
  margin-top: 0px;
  background-color: white;
  -webkit-appearance: menulist-button;
  border: 1px solid #B1ADAB;
  border-color: rgba(0, 0, 0, 0.15);
  height: 22px;
  width: 50px;
  height: 35px;
  font-size: 14px;
  text-indent: 4px;
}



.text {
  margin-top: 51px;
}

button.num-quantity {
  margin-top: 10px;
  width: 40px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
  background-color: white;
}

button.num-quantity:focus {
  outline: none;
}

button.num-quantity:hover {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  border-radius: 3px;
  background-color: white;
}

button.add {
  margin-top: 15px;
  background-color: #f45800;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  background-color: #f45800;
  border-color: rgba(0, 0, 0, 0.1);
  width: 275px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: bolder;
  text-align: top;
  border-radius: 3px;
  cursor: pointer;
}

button.add:focus {
  outline: none;
}

button.add:hover {
  background-color: #FFF3EE;
  cursor: pointer;
  background-color: #ff6905;
  border-color: rgba(0, 0, 0, 0.2);
}















.slide1 {
  display: flex;
  height: 330px;
  width: 870px;
}

.slide1:hover {
  cursor: pointer;
}

.slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 1px solid lightgray;
  height: 330px;
  background-color: #31486c;
  border-right: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0px 40px;
}

.slide-text h2 {
  font-size: 15px;
  color: white;
}

h2.top {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: white;
}

h2.middle {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 22px;
  text-align: center;
  font-weight: 100;
  margin: 5px;
  color: white;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.arrow-box {
  width: 8px;
  height: 8px;
}
h2.bottom {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

i.fas.fa-chevron-right {
    margin-top: 16px;
    margin-left: 6px;
    font-size: 10px;
    z-index: 10;
    color: white;
}

.slide1-img {
  height: 330px;
  width: 585px;
  object-fit: cover;
  border: 1px solid lightgray;
  border-left: none;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.top-right {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 230px;
  border: 1px solid lightgray;
  border-radius: 3px;;
}

.top-right:hover {
    cursor: pointer;
}

.top-right h2 {
  margin-left: 24px;
  padding-top: 35px;
  font-size: 19px;
  position: absolute;
  color: white;
  z-index: 10;
  width: 231px;
}

.top-right i.fas.fa-chevron-right {
  position: relative;
  -webkit-text-fill-color: white;
  top: 106px;
  left: 107px;
}

h2.explore-now {
    padding-top: 105px;
    font-size: 15px;
}

.top-right img {
  position: relative;
  margin-top: -8px;
  object-fit: cover;
  height: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.bottom-right {
  display: flex;
  margin-top: 23px;
  margin-left: 18px;
  left: 951px;
  top: 385px;
  background-color: #31486c;
  padding: 18px 60px;
  padding-right: 185px;
  padding-left: 20px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.bottom-right:hover {
  cursor: pointer;
}

.bottom-right h2 {
  color: white;
  font-size: 14px;
}

.bottom-right i.fas.fa-chevron-right {
  position: relative;
  -webkit-text-fill-color: white;
  bottom: 0.5px;
  left: 1px;
}

.banner {
  display: flex;
  justify-content: center;
  margin: 40px 55px;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E1E3DF;
  margin-top: 95px;
  padding-bottom: 5px;
}

.footer-logo {
  color: #f45800;
  font-family: "Song Myung", serif;
  font-size: 32px;
  text-decoration: none;
  height: 0px;
  padding-left: 50px;
  margin-top: 15px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 27px;
  margin-top: 28px;
  width: 100%;
}
.footer-right {
  display: flex;
}
.footer-items li {
  margin-right: 38px;
  font-weight: 100;
  color: #222;
  padding-bottom: 1px;
}

footer li :active, :visited {
  text-decoration: none;
  color: black;
}

footer li :hover {
  color: #f45800;
}

li.slogan {
  right: 648px;
  font-size: 13px;
  bottom: 3px;
}

a:link, :hover, :visited, :active {
    text-decoration: none;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  align-content: center;
  width: 1000px;
}
.top-of-cart {
    display: flex;
    justify-content: space-between;
}

.num-items {
  font-size: 25px;
  font-weight: 900;
}
button.keep-shopping {
    background-color: #FFF;
    color: #222;
    font-weight: bold;
    height: 28px;
    padding: 4px 12px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

button.keep-shopping:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

button.keep-shopping:focus {
  outline: none;
}

.main-cart {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 30px;
}

.all-items {
  color: #f45800;
  margin: 20px 0px;
  margin-left: 155px;
  padding-right: 30px;
  border-right: 1px solid lightgray;
}

.cart-item-img {
  width: 130px;
  height: 100px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  object-fit: scale-down;
}

.cart-items:last-child {
  border-bottom: none;
}

.left-side {
  display: flex;
  flex-direction: row;
}

button.remove {
  background: none;
  color: #f45800;
  border: 1px solid #f45800;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 30px;
  width: 80px;
}
button.remove:hover {
  background-color: #FFF3EE;
}

button.remove:focus {
  outline: none;
}

.single-item {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  width: 550px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.single-item:last-child {
  border-bottom: none;
}



.col2 {
  margin-left: 20px;
  margin-right: 14px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}
.col3 {
  margin-top: 5px;
}
.col4 {
  margin-top: 5px;
  margin-left: 60px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subtotal {
  font-size: 20px;
}

.item-price {
  font-size: 13px;
  font-weight: 100;
  color: gray;
  margin-top: 5px;
}

.checkout {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 45px 6px 25px 5px;
}

button.checkout-button {
  background: #f45800;
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 35px;
  margin-left: 15px;
  margin: 18px 5px 13px 5px;
  font-weight: 600;
}

button.checkout-button:hover {
background-color: #ff6905;
border-color: rgba(0, 0, 0, 0.2);
}

button.checkout-button:focus {
  outline: none;
}



.cart-area {
  background-color: #f5f5f1;
  height: 350px;
  display: flex;
}

.empty-cart {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 750px;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  border: 1px solid lightgray;
  padding-top: 30px;
  padding-bottom: 60px;
}

.discover {
  color: #E55400;
}
.discover:hover {
  text-decoration: underline;
}

.discover:focus {
  color: #E55400;
}

.empty-text {
  font-size: 25px;
  margin: 20px 0px;
  font-weight: 500;
  font-family: serif;
  line-height: 15px;
}
