.checks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
i.fas.fa-check {
  color: #E55400;
  font-size: 20px;
  padding-right: 5px;
}
.check-1 {
    margin: 0px 20px;
    text-align: center;
    width: 400px;
}
.check-2 {
    margin: 0px 20px;
    text-align: center;
    width: 400px;
}
.check-3 {
    margin: 0px 20px;
    text-align: center;
    width: 400px;
}
